.button:hover {
    /* Эффект при наведении */
    -fx-translate-y: -0.5px;
    -fx-effect: dropshadow(gaussian, rgba(68,89,103, 0.8), 10, 0, 3, 5);
}

.button:pressed {
    /* Эффект при нажатии */
    -fx-translate-y: +1px;
    -fx-effect: null;
}

.button{
    -fx-background-color: rgba(68,89,103, 1);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}