.button:hover {
    /* Эффект при наведении */
    -fx-translate-y: -0.5px;
    -fx-effect: dropshadow(gaussian, rgba(220, 20, 60, 0.8), 10, 0, 0, 5);
}

.button:pressed {
    /* Эффект при нажатии */
    -fx-translate-y: +1px;
    -fx-effect: null;
}

.button{
    -fx-background-color: #CB0000;
}