.button{
    -fx-background-color: #A9A9A9;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.button:hover {
    /* Эффект при наведении */
    -fx-translate-y: -0.5px;
    -fx-effect: dropshadow(gaussian, rgba(0,80,140, 0.8), 15, 0, 5, 7);
}

.button:pressed {
    /* Эффект при нажатии */
    -fx-translate-y: +1px;
    -fx-effect: null;
}

